html, body {
    height: 100%;
}
div{
    border: solid red 3px;
}
.row{
    border: solid black 5px;
}

.cards{
    width: 80px;
    border: solid green 2px;
    padding: 0;
    margin: 20px;
    position: relative;
}

.container{
    border: solid 3px pink;
    position: absolute;
    top: 5%;
    left: 15%;
    
}

.points{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.player{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    font-weight: bold;
}

#drawDeck {
    position: absolute;
    top: 16px;
    right: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 110px;
}