html, body {
    height: 100%;
}
div{
    border: solid red 3px;
}
.row{

}



.cards{
    /* is zum spielen grad leichter:
     width: 100px; */
     width: 50px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 10px;
    position: relative;
}

.container{
    border: solid 3px pink;
    position: absolute;
    top: 5%;
    left: 15%;
    
}

.points{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.player{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    font-weight: bold;
}

.decks{
    height: 350px;
}

.deckInfo{
  position: absolute;
  bottom: 20px;
  width: 370px; 
}


#drawDeck {
    position: absolute;
    top: 24px;
    right: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
            /* is zum spielen grad leichter:
     width: 150px; */
     width: 80px;

}

#topCard {
    position: absolute;
        /* is zum spielen grad leichter:
     width: 150px; */
    width: 80px;
    top: 24px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    /* unbedingt marginTop = 0 lassen, sonst ist die TC weiter unten - übernimmt margintop von den normalen karten mit */
    margin-top: 0;

}